html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 60px;
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid #000;
    background-color: #cec;
}
.blank{
    height: 60px;
}

h1{
    font-size: 30px;
    margin:10px;
    width: 65px;
    display: inline-block;
}
.buttons{
    position: fixed;
    width: 180px;
    height: 60px;
    left: calc(100vw - 200px);
}
.buttons>a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 11.5px 3px;
    font-size: 20px;
    height: 27px;
    padding: 5px;
    border-radius: 6px;
}
.glaybutton{
    background-color: #444;
    pointer-events: none;
}
.greenbutton{
    background-color: #2e7073;
    pointer-events: all;
}

@media (max-width: 700px){
    .tdtime{
        display: inline-block;
        width: 95px;
    }
    .tdwho{
        display: inline-block;
        width: calc(100vw - 101px - 25px);
    }
    .tdnote{
        display: inline-block;
        width: calc(100vw - 25px);
    }
}
@media (min-width: 701px){
    .tdtime{
        display: inline-block;
        width: 160px;
    }
    .tdwho{
        display: inline-block;
        width: 200px;
    }
    .tdnote{
        display: inline-block;
        width: calc(100vw - 400px);
    }
}

td{
    padding: 3px;
    font-family: 'Noto Sans JP' 'Yu Gothic UI','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

tr{
    border-top: #000 1px dashed;
    display: inline-block;
}

#col0{
    border-top: #fff 0px solid;
}

.scbutton{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 180px;
    padding: 5px;
    margin: 10px 0px 10px calc(50vw - 92.5px);
    border-radius: 6px;
    background-color: #5b3f86;
}

.loadingtxt{
    font-size: 25px;
    color: #000;
    text-align: center;
}

#on{
    display: inline-block;
    background-color: #8a8;
    animation-name: loadon;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 0vw;
    height: 20px;
    margin-left: 10vw;
}

#off{
    display: inline-block;
    background-color: #282;
    animation-name: loadoff;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 80vw;
    height: 20px;
}

@keyframes loadon{
    0%{
        width: 0vw;
    }
    50%{
        width: 80vw;
    }
    100%{
        width: 0vw;
    }
}
@keyframes loadoff{
    0%{
        width: 80vw;
    }
    50%{
        width: 0vw;
    }
    100%{
        width: 80vw;
    }
}
img{
    display: flex;
    height: 60px;
}

.loadmsgboxred{
    animation-name: boxinoutred;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    position: fixed;
    right: 20px;
    height: 50px;
    width: 200px;
}
.loadmsgboxblue{
    animation-name: boxinoutblue;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    position: fixed;
    right: 20px;
    height: 50px;
    width: 200px;

}
.loadmsgp{
    animation-name: msginout;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

@keyframes boxinoutred{
    0%{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
    10%{
        bottom: 20px;
        background-color: rgb(255, 192, 154);
    }
    90%{
        bottom: 20px;
        background-color: rgb(255, 192, 154);
    }
    100%{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
}
@keyframes boxinoutblue{
    0%{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
    10%{
        bottom: 20px;
        background-color: rgb(186, 202, 255);
    }
    90%{
        bottom: 20px;
        background-color: rgb(186, 202, 255);
    }
    100%{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
}
@keyframes msginout{
    0%{
        color: rgba(255, 255, 255, 0);
    }
    10%{
        color: rgb(0, 0, 0);
    }
    90%{
        color: rgb(0, 0, 0);
    }
    100%{
        color: rgba(255, 255, 255, 0);
    }
}

#loadcircle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 5px;
    position: fixed;
    top: 10px;
    left: calc(100vw - 250px);
    border-color: #ffbb1e #faebe4 #faebe4;
    animation: loadingspin 0.5s infinite ease-in-out;
}

@keyframes loadingspin {
    to{
        transform: rotate(360deg);
    }    
}

.hidden{
    display: none;
}